.CourseLayout{
  width:100%;
  background-color: #ECF0F5;
  padding-bottom:200px;
}
.App__form {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 10px 30px;
}
.App__input {
  padding-bottom: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(147, 147, 147, 0.5);
  border-radius: 5px;
  padding: 14px;
  font-size: 12px;
  outline: none;
  box-sizing: border-box;
  height: 40px;
  width:300px;
}
.App__todos{
  width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}
.App__form__button {
  background-color: #3c8dbc;
  border: none;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  width:90px;
  height: 42px;

  &:hover {
    background-color: #337ab7;
  }
}
.App__toggle__button{
  height: 24px;
  width: 24px;
  border: none;
}
.App__edit__button{
  height: 38px;
  width: 50px; 
  border: none; 
  background-color: #F1F1F1;
}
.App__delete__button{
  height: 38px;
  width: 50px; 
  border: none; 
  background-color: #F1F1F1;
}
@media(max-width:425px){
  .CourseLayout{
      padding-bottom: 250px;
  }
}
@media(max-width:375px){
  .CourseLayout{
      padding-bottom: 350px;
  }
}
@media(max-width:320px){
  .CourseLayout{
      padding-bottom: 500px;
  }
}