
.Header__link {
  text-decoration: none;
  color: #444;
  margin:10px 50px;
  font-size:15px;
  font-weight: 500
}
.Header__link.active {
  color: #fff;
}
// .Header__link:last-child{
//   padding-left: 200px;
// }
.Header{
  width: 100%;
  display: flex;
  height: 50px;
  background-color: #3C8DBC;
  align-items: center;
}
.logo{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  line-height: 44px;
}
.lab{
  color:#fff;
  margin-left:3px;
}
@media(max-width:768px){
  .Header{
    width:768px;
  }
  
}