$default: #11C6EE;
$default--hover: #11b4d8;

$success: #3CDC58;
$success--hover: #3bd251;

$warning: #eeba4d;
$warning--hover: #f5ac26;

$danger: #FF6D6D;
$danger--hover: #fb5e5e;

$danger-login: #F01A4E;
$danger-login--hover: #f72659;

$fontMainColor: #4A4A4A;

$primary-font: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";