.Students__list{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}
.Students{
    width:100%;
    background-color: #ECF0F5;
    padding-bottom:200px;
}
.Students__title{
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}
.Students__title b{
    color: #333;
    font-size: 14px;
    line-height: 1.5;
}
.Students__back{
    color: #444444;
    font-size: 14px;
    line-height: 1.5;
    background-color: #d2d6de;
    margin: 5px 0 0;
    padding: 7px 5px 7x 10px;  
}
.Student__single{
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1,5;
    border-bottom: 1px solid #ddd;  
}
@media(max-width:425px){
    .Students{
     padding-bottom: 500px;
    }
}
@media(max-width:375px){
    .Students{
        padding-bottom: 600px;
    }
}
@media(max-width:320px){
    .Students{
        padding-bottom: 750px;
    }
}

