.TodoList__elem {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    line-height: 1,5;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
} 

.TodoList__table{
    display: flex;
    align-items: center;
}
.TodoList__title{
    display: flex;
    justify-content: space-around;
    line-height: 1,5;
    align-items: center;
    padding-right: 70px;
    padding-top: 14px ;
    padding-bottom: 14px;
    background-color: #f39c12;
    color: #fff;
    font-size: 18px;
}
.TodoList__title td{
    color:#fff;
}
.listNumber{
    font-weight: 600;
}
 

  