.Home{ 
    width:100%;
    background-color: #ECF0F5;
    padding: 30px 0 450px 850px;
}
@media(max-width:768px){
    .Home{
      padding: 30px 0 450px 650px;
    }
    
  }
  @media(max-width:425px){
    .Home{
      padding: 30px 0 750px 650px;
    }
  }
@media(max-width:375px){
  .Home{
    padding: 30px 0 850px 650px;
  }
}
@media(max-width:320px){
  .Home{
    padding: 30px 0 1000px 650px;
  }
}