.Register__form {
    display: flex;
    flex-direction: column;
    width:360px;
    height: 200px;
    padding:20px;
    margin:75px auto;
    justify-content: space-between;
  }

  .Register__input{
    height: 38px;
    padding: 6px 42px 6px 16px;
    font-size: 12px;
  }
  .Register__button{
   display:flex;
   justify-content: space-between;
   font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  .Register__button h2{
      color:#666;
      font-size:14px;
      font-weight: 700;
      
  }
  .Register__button h2 span{
     color: darkblue;
     cursor: pointer; 
  }
  // .button--success {
  //   background-color: #3CDC58;
  
  //   &:hover {
  //     background-color: #3bd251;
  //   }
  // }
  