.TodoList {
  width: 100%;
  margin: 32px 0;
}

.TodoList__elem {
  display: flex;
  justify-content: space-between;
}

.TodoList__elem--done {
  text-decoration: line-through;
}

.TodoList__actions {
  display: flex;
}
