.Crud{
    background-color: #d2d6de;
   padding-bottom: 300px;
}
.Crud__background{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}
.Crud__title{ 
    background-color: #f39c12;
    color:#fff;
    padding: 50px;
    font-size: 19px;
    padding: 40px;
}
.Crud__lecture{
    background-color: #d2d6de;
    margin: 10px;
    padding: 40px;
    font-size: 19px;
}
.Crud__content{
    padding: 20px;
}
.Crud__input{
    height: 50px;
    width: 60%;
    font-size: 14px;
   padding: 0 5px;
}
.lectureImage{
    width: 560px;
    margin:0 auto;
}
@media(max-width:1024px){
    .Crud{
     padding-bottom: 400px;
    }
}
@media(max-width:425px){
    .Crud{
     padding-bottom: 650px;
    }
}
@media(max-width:375px){
    .Crud{
        padding-bottom: 800px;
    }
}
@media(max-width:320px){
    .Crud{
        padding-bottom: 950px;
    }
}
