.App {
  width: 600px;
  margin: 0 auto;
  background-color:lightgray;
  padding: 50px;
}
.App__form {
  display: flex;
  justify-content: space-between;
}
.App__input {
  border: 3px solid #555555;;
  border-radius: 5px;
  height: 30px;
  width: 350px;
  padding: 10px;
  background-color: #F1F1F1;
  font-family: 'Rubik', sans-serif;
}

.App__form__button {
  height: 38px;
  width: 110px;
  background-color: #4CAF50;
  border: none;
  padding: 10px;
  border-radius: 12px;
  font-family: 'Rubik', sans-serif;
}
.App__toggle__button{
  height: 38px;
  width: 70px;
  background-color: #4CAF50;
  border: none;
  padding: 5px;
  border-radius: 12px;
  margin: 5px;
  font-family: 'Rubik', sans-serif;
}
.App__edit__button{
  height: 38px;
  width: 50px;
  background-color: #008CBA;
  border: none;
  padding: 5px;
  border-radius: 12px;
  margin: 5px;
  font-family: 'Rubik', sans-serif;
}
.App__delete__button{
  height: 38px;
  width: 80px;
  background-color: #f44336;;
  border: none;
  padding: 5px;
  border-radius: 12px;
  margin: 5px;
  font-family: 'Rubik', sans-serif;
}